
:root{
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(85, 84, 84);
    --light-gray: rgb(224, 220, 220);
    --light-violet: rgb(240, 233, 252);
    --light-blue: rgb(126, 148, 223);
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background: var(--white);
    background: repeating-linear-gradient(90deg, var(--white) 0 25%, var(--light-gray) 25% 25.1%);
}

.wrapper {
    display: grid;
    grid-template: "header"
                    "main"
                   "footer";
}
