$primary-color: rgb(255, 255, 255);
$second-color: rgb(5, 5, 5);
$link-color: rgba(86, 110, 190, 0.945);

$background-lines-color: rgba(133, 125, 125, 0.5);
$first-shadow-color: rgba(50, 50, 93, 0.25);
$second-shadow-color: rgba(0, 0, 0, 0.3);

$popup-wrapper-color: rgba(0, 0, 0, 0.5);
