@import "../../styles/variables.scss";

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: $primary-color;

    &__title {
        display: inline;

        @media (max-width: 769px) {
            display: none;
        }
    }

    &__logo {
        a {
            background-image: none;
        }

        img {
            height: 50px;
            width: 50px;
            padding: 0 10px;
        }
    }
}
