@import "../../styles/variables.scss";

.footer {
    display: flex;
    flex-flow: row;

    align-items: center;
    justify-content: space-evenly;
    column-gap: 0.5rem;
    margin: 1rem auto;

    font-size: 1.1rem;

    &__link {
        color: $link-color;

        &:hover {
            color: $link-color;
        }
    }

    &__year {
        &::before {
            content: "©";
        }
    }
}
